@model product_details.p_dt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>p_dt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_cg.cg_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_cg.cg_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_img)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
